<?xml version="1.0"?>

<launch>

  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find simple_ur_driver)/ur.rviz" /> -->

  <node name="simple_ur" pkg="simple_ur_driver" type="ur_driver_pd.py" output="screen"/>

  <!-- <node name="target_frame_broadcaster" pkg="lcsr_tf_tools" type="interactive_transform_publisher" args="-.109 -.72 1.47 3.1415 0 -1.5707 /world /target_frame 1000"/> -->
  <!--<node name="target_frame_broadcaster" pkg="lcsr_tf_tools" type="interactive_transform_publisher" args=".10915 -.4225 1.344 -1.5707 0 0 /world /endpoint_interact 10"/>-->
  <node name="target_frame_broadcaster" pkg="lcsr_tf_tools" type="interactive_transform_publisher" args="0 0 0 0 0 0 /endpoint /endpoint_interact 10"/>

  <node pkg="tf" type="static_transform_publisher" name="world_to_base_align" args=" 0 0 1.4605 0 0 2.35605 /world /base_align 100"/>

  <node pkg="tf" type="static_transform_publisher" name="align_to_base_link" args=" 0 0 0 .7853 0 0 /base_align /base_link 100"/>

  <node pkg="tf" type="static_transform_publisher" name="goal_align_to_base_link" args=" 0 0 0 .7853 0 0 /base_align /goal/base_link 100"/>


  <node pkg="tf" type="static_transform_publisher" name="ee_to_robotiq_c" args=" 0 0 0 0 0 -1.5707  /ee_link /robotiq_85_adapter_link 100"/>

  <node pkg="tf" type="static_transform_publisher" name="ee_to_wrist_camera" args=" 0 0 -.045 0 0 0   /ee_link /camera_1_link 100"/>
  <!-- <node pkg="tf" type="static_transform_publisher" name="endpoint_to_marker" args=" 0 0 0 0 -1.5707 0   /endpoint /endpoint_marker 1000"/> -->

  <!-- robot_ip: IP-address of the robot's socket-messaging server -->
  <arg name="robot_ip" />
  <arg name="limited" default="false"/>

  <!-- robot model -->
  <include file="$(find ur_description)/launch/ur5_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
  </include>
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" > -->
      <!-- <remap from="joint_states" to="/ur5/gripper/joint_states"/> -->
  <!-- </node> -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <!-- <remap from="joint_states" to="/ur5/gripper/joint_states"/> -->
  </node>
  <node name="robot_goal_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <remap from="joint_states" to="joint_states_goal"/>
    <param name="tf_prefix" value="goal"/>
  </node>
  
  <!-- gripper model -->
  <group ns="/ur5/gripper">
    <arg name="model" default="$(find robotiq_c_model_visualization)/cfg/robotiq_c_model.urdf" />
    <arg name="gui" default="False" />
    <param name="robot_description" textfile="$(arg model)" />
    <param name="use_gui" value="$(arg gui)"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
      <remap from="joint_states" to="/ur5/gripper/joint_states"/>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
      <remap from="joint_states" to="/ur5/gripper/joint_states"/>
    </node>
    <rosparam>
      source_list: [/ur5/gripper/joint_states]
    </rosparam>
  </group>
  
</launch>
